body, html {
    height: 100%;
    font-family: Oswald-Regular, sans-serif;
}

/*---------------------------------------------*/
a {
    font-family: Oswald-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: blue;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
    margin: 0px;
}

p {
    font-family: Oswald-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: whitesmoke;
    margin: 0px;
}

ul, li {
    margin: 0px;
    list-style-type: none;
}




.getintouch {
    width: 100%;
    /*height: 50vh;*/
    background: #4789D3;
    padding: 30px 20px 40px 20px;
}

.getWraper {
    display: grid;
    grid-template-columns: 60% 40%;

    gap: 30px;

    justify-items: stretch;
    align-items: stretch;
}


.getbutton {
    color: rgba(0, 0, 0, 0.26);
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.12);
}

.getWraper-right{
    padding-top: 60px;
    justify-self: center;
    align-content: center;
}
.input-1000{
    width: 70%;
    background: transparent;
    border: none;
    /*border-bottom: 1px solid white !important;*/
}
.input:focus{
    border: none;
    /*border-bottom: 1px solid white !important;*/
}

.border-input{
    border-bottom: 1px solid white !important;

}


.jss452 {
    color: white;
    margin: 20px auto;
    box-shadow: 0px 6px 6px -3px rgba(0,0,0,0.2), 0px 10px 14px 1px rgba(0,0,0,0.14), 0px 4px 18px 3px rgba(0,0,0,0.12);
    font-family: roboto condensed;
    border-radius: 8px;
    text-transform: none;
    background-size: contain;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #020248;
    /*background-image: #020248;*/
}

@media screen and (max-width: 700px) {
    .getintouch {
        width: 100%;
        /*height: ;*/
        background: #4789D3;
        padding: 30px 20px 40px 20px;
    }

    .getWraper {
        display: grid;
        grid-template-columns: 1fr;

        gap: 30px;

        justify-items: stretch;
        align-items: stretch;
    }
}
@media screen and (max-width: 400px){

}
