body, html {
    height: 100%;
    font-family: Oswald-Regular, sans-serif;
}

/*---------------------------------------------*/
a {
    font-family: Oswald-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #4FC3E5;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
    margin: 0px;
}

p {
    font-family:courier,arial,helvetica !important;
    font-size: 14px;
    line-height: 1.7;
    /*color: ;*/
    margin: 0px;
}

ul, li {
    margin: 0px;
    list-style-type: none;
}




.getintouch {
    width: 100%;
    /*height: 50vh;*/
    background: #4789D3;
    padding: 30px 20px 40px 20px;
}

.getWraper {
    display: grid;
    grid-template-columns: 60% 40%;

    gap: 30px;

    justify-items: stretch;
    align-items: stretch;
}


.getbutton {
    color: rgba(0, 0, 0, 0.26);
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.12);
}

.getWraper-right{
    padding-top: 30px;
    justify-self: center;
    align-content: center;
}
.input-1000{
    width: 70%;
    background: transparent;
    border: none;
    /*border-bottom: 1px solid white !important;*/
}
.input:focus{
    border: none;
    /*border-bottom: 1px solid white !important;*/
}

.border-input{
    border-bottom: 1px solid white !important;

}


.jss452 {
    color: white;
    margin: 20px auto;
    box-shadow: 0px 6px 6px -3px rgba(0,0,0,0.2), 0px 10px 14px 1px rgba(0,0,0,0.14), 0px 4px 18px 3px rgba(0,0,0,0.12);
    font-family: roboto condensed;
    border-radius: 8px;
    text-transform: none;
    background-size: contain;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #020248;
    /*background-image: #020248;*/
}

@media screen and (max-width: 700px) {
    .getintouch {
        width: 100%;
        /*height: ;*/
        background: #4789D3;
        padding: 30px 20px 40px 20px;
    }

    .getWraper {
        display: grid;
        grid-template-columns: 1fr;

        gap: 30px;

        justify-items: stretch;
        align-items: stretch;
    }
}
@media screen and (max-width: 400px){

}



.subscribe-wrapper {
    position: relative;
    left: -30px;
    right: -30px;
    height: 200px;
    width: 380px;
    padding: 30px;
    background-image: url('https://i.imgur.com/MRjF1PL.png?1');
    background-position-x: 272%;
    background-position-y: -1px;
    background-repeat: no-repeat;
    background-color: #FFF;
    border-radius: 4px;
    color: #333;
    box-shadow: 0px 0px 60px 5px rgba(0, 0, 0, 0.4);
}

.subscribe-wrapper:after {
    position: absolute;
    content: "";
    right: -10px;
    bottom: 71px;
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #7149c7;
}

.subscribe-wrapper h4 {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 3px;
    line-height: 28px;
}

.subscribe-wrapper input {
    position: absolute;
    bottom: 30px;
    border: none;
    border-bottom: 1px solid #d4d4d4;
    padding: 10px;
    width: 65%;
    background: transparent;
    transition: all .25s ease;
}

.subscribe-wrapper input:focus {
    outline: none;
    border-bottom: 1px solid #a77cf4;
}

.subscribe-wrapper .submit-btn {
    position: absolute;
    border-radius: 30px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    background-color: #a77cf4;
    color: #FFF;
    padding: 12px 25px;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    right: -10px;
    bottom: 30px;
    cursor: pointer;
    transition: all .25s ease;
    box-shadow: -5px 6px 20px 0px rgba(51, 51, 51, 0.4);
}

.subscribe-wrapper .submit-btn:hover {
    background-color: #8e62dc;
}

@media screen and (max-width: 700px)  {
    .subscribe-wrapper {
        position: relative;
        left: -10px;
        right: -30px;
        height: 200px;
        width: 333px;
        padding: 30px;
        background-image: url('https://i.imgur.com/MRjF1PL.png?1');
        background-position-x: 272%;
        background-position-y: -1px;
        background-repeat: no-repeat;
        background-color: #FFF;
        border-radius: 4px;
        color: #333;
        box-shadow: 0px 0px 60px 5px rgba(0, 0, 0, 0.4);
    }
}

@media screen and (max-width: 400px){

}